In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv("/Users/hgoz/Desktop/ESADE/MASTER/CAPSTONE/MARCO DATASETS/ESADE/ggleAds/adGroupAd.csv")

In [4]:
df.drop(['TimeStamp', 'adGroup_id', 'ad_id', 'ad_name', 'ad_resource_name',
       'ad_group_ad', 'ad_strength', 'ad_status', 'campaign_id',
       'campaign_name'], axis = 1, inplace=True )

In [24]:
df['date'] =  pd.to_datetime(df['date'])

In [7]:
df_sum = df[['clicks', 'conversions', 'cost_micros', 'engagements', 'impressions', 'interactions']]

df_average = df[list(set(df.columns) ^ set(df_sum))]

df_sum = df[['clicks', 'conversions', 'cost_micros', 'engagements', 'impressions', 'interactions', 'date']]

In [8]:
df_sum

,clicks,conversions,cost_micros,engagements,impressions,interactions,date
0,6,0.0,31.140,0,27,6,2021-01-08
1,10,0.0,37.780,0,61,10,2021-01-09
2,25,1.0,41.060,0,167,25,2021-01-10
3,59,3.0,201.330,0,300,59,2021-01-11
4,51,2.0,89.740,0,235,51,2021-01-12
...,...,...,...,...,...,...,...
153420,1,0.0,1.312,0,582,1,2022-01-04
153421,14,0.0,224.600,0,99,14,2022-01-04
153422,5,0.0,110.970,0,112,5,2022-01-04
153423,0,0.0,0.000,0,42,0,2022-01-04
153424,6,0.0,72.560,0,74,6,2022-01-04

In [9]:
df_sum = df_sum.groupby(by=['date']).sum()
df_average = df_average.groupby(by=['date']).mean()

In [10]:
df_sum

,clicks,conversions,cost_micros,engagements,impressions,interactions
date,,,,,,
2021-01-08,191,6.000,524.380,0,1159,191
2021-01-09,519,10.000,1662.920,0,2827,519
2021-01-10,423,11.000,1332.250,0,2291,423
2021-01-11,1081,29.000,3469.610,0,5322,1081
2021-01-12,1862,37.000,7336.276,755,47761,2595
...,...,...,...,...,...,...
2021-12-31,2153,24.564,17018.391,1733,77718,3778
2022-01-01,2089,11.000,17098.251,2100,102736,4074
2022-01-02,2521,23.842,20099.333,1351,108715,3772
2022-01-03,2333,41.000,19650.125,1329,51437,3550
2022-01-04,1942,29.000,12803.447,312,22334,2239

In [11]:
df_ads = pd.merge(df_sum, df_average, how='inner', on='date')

In [12]:
df_ads

,clicks,conversions,cost_micros,engagements,impressions,interactions,interaction_rate,average_cpm,ctr,average_cpc,conversions_value,value_per_conversion,engagement_rate,average_cost,cost_per_conversion,average_cpe
date,,,,,,,,,,,,,,,,
2021-01-08,191,6.000,524.380,0,1159,191,0.167358,4.504436e+08,0.167358,1.507944e+06,0.000000,0.000000,0.000000,1.507944e+06,8.956842e+05,0.000000
2021-01-09,519,10.000,1662.920,0,2827,519,0.198261,5.879202e+08,0.198261,2.588210e+06,0.000000,0.000000,0.000000,2.588210e+06,2.727538e+06,0.000000
2021-01-10,423,11.000,1332.250,0,2291,423,0.149093,4.372301e+08,0.149093,1.631761e+06,0.000000,0.000000,0.000000,1.631761e+06,2.264296e+06,0.000000
2021-01-11,1081,29.000,3469.610,0,5322,1081,0.190687,5.879615e+08,0.190687,2.635982e+06,0.000000,0.000000,0.000000,2.635982e+06,9.246117e+06,0.000000
2021-01-12,1862,37.000,7336.276,755,47761,2595,0.147975,5.427583e+08,0.142025,4.044596e+06,0.000000,0.000000,0.042580,2.783931e+06,8.193134e+06,137646.769427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-31,2153,24.564,17018.391,1733,77718,3778,0.097120,3.580962e+08,0.078202,4.932193e+06,0.240176,0.425770,0.020692,3.203518e+06,7.649804e+06,375939.210084
2022-01-01,2089,11.000,17098.251,2100,102736,4074,0.081451,2.925704e+08,0.053259,5.228926e+06,1.883721,1.883721,0.030997,3.402931e+06,2.033699e+07,287498.734012
2022-01-02,2521,23.842,20099.333,1351,108715,3772,0.090237,3.838446e+08,0.067402,5.506916e+06,1.139087,1.196532,0.025749,4.734450e+06,2.144404e+07,311683.757225
2022-01-03,2333,41.000,19650.125,1329,51437,3550,0.131129,6.245445e+08,0.104728,5.347311e+06,0.963061,0.963061,0.030868,4.146270e+06,9.783301e+06,334460.555673
2022-01-04,1942,29.000,12803.447,312,22334,2239,0.119407,5.253490e+08,0.092887,3.493593e+06,0.000000,0.000000,0.028502,3.368809e+06,6.901867e+06,275072.409786

In [14]:
df_anal = pd.read_csv("/Users/hgoz/Desktop/ESADE/MASTER/CAPSTONE/MARCO DATASETS/ESADE/ggleAnalytics/google_analytics_grouped_by_date.csv")

In [15]:
df_ads.to_csv("df_ads_groupby_date.csv")
df_ads = pd.read_csv("/Users/hgoz/Desktop/ESADE/MASTER/CAPSTONE/MARCO DATASETS/CODE/df_ads_groupby_date.csv")

In [16]:
df_anal = df_anal.add_suffix('_anal')
df_ads = df_ads.add_suffix('_ads')
df_anal = df_anal.rename(columns = {'date_anal':'date'})
df_ads = df_ads.rename(columns = {'date_ads':'date'})

df_anal.rename(columns={'Name': 'EmpName'}

In [18]:
df_merged = pd.merge(df_ads, df_anal, how='inner', on='date')

In [19]:
df_merged

,date,clicks_ads,conversions_ads,cost_micros_ads,engagements_ads,impressions_ads,interactions_ads,interaction_rate_ads,average_cpm_ads,ctr_ads,...,engagement_rate_ads,average_cost_ads,cost_per_conversion_ads,average_cpe_ads,transactions_anal,transactionRevenue_anal,sessions_anal,impressions_anal,adClicks_anal,adCost_anal
0,2021-05-01,1223,9.000,3241.141,1368,38815,2472,0.158972,1.048870e+09,0.130754,...,0.046972,2.072699e+06,5.487887e+06,118550.267606,132,52884.20,9964,111716,3121,9943.20
1,2021-05-02,1086,9.000,2274.906,746,49344,1764,0.126399,3.205696e+08,0.100128,...,0.054601,1.313195e+06,4.802804e+06,89057.913514,144,45234.50,8178,123259,3564,9035.47
2,2021-05-03,1844,49.000,6664.664,1459,35897,3172,0.149181,4.956057e+08,0.134262,...,0.024725,1.667097e+06,4.862423e+06,59050.338591,382,130117.20,10448,119602,4537,14510.82
3,2021-05-04,2625,51.000,10235.173,983,66162,3520,0.122542,4.546301e+08,0.111259,...,0.016499,2.117559e+06,5.621681e+06,44188.834232,322,125646.90,11116,152630,5333,19030.23
4,2021-05-05,2246,38.000,9917.545,648,21336,2834,0.152909,5.647390e+08,0.139879,...,0.018426,2.244020e+06,7.304683e+06,59834.622166,307,95245.80,10386,102489,5321,18783.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,2021-12-31,2153,24.564,17018.391,1733,77718,3778,0.097120,3.580962e+08,0.078202,...,0.020692,3.203518e+06,7.649804e+06,375939.210084,242,85153.78,19530,79663,2187,17205.09
241,2022-01-01,2089,11.000,17098.251,2100,102736,4074,0.081451,2.925704e+08,0.053259,...,0.030997,3.402931e+06,2.033699e+07,287498.734012,79,22446.20,10390,103011,2095,17166.36
242,2022-01-02,2521,23.842,20099.333,1351,108715,3772,0.090237,3.838446e+08,0.067402,...,0.025749,4.734450e+06,2.144404e+07,311683.757225,170,54493.75,9700,109357,2542,20180.17
243,2022-01-03,2333,41.000,19650.125,1329,51437,3550,0.131129,6.245445e+08,0.104728,...,0.030868,4.146270e+06,9.783301e+06,334460.555673,375,101528.50,13068,514825,7103,30793.09
244,2022-01-04,1942,29.000,12803.447,312,22334,2239,0.119407,5.253490e+08,0.092887,...,0.028502,3.368809e+06,6.901867e+06,275072.409786,436,123421.88,15861,1085272,14132,36997.82

In [23]:
df_merged.to_csv("df_merged.csv")